---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import PostCard from "@/components/PostCard.astro";

const posts = await getCollection("posts");
const filteredPosts = posts
  .filter((post) => post.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---

<Layout title="ブログ">
  <div class="posts">
    <h1 class="posts__title">ブログ</h1>
    <ul class="posts__list">
      {
        filteredPosts.map((post) => (
          <li class="posts__item">
            <PostCard
              slug={`/posts/${post.slug}`}
              cover={post.data.cover}
              title={post.data.title}
              description={post.data.description}
              pubDate={post.data.pubDate}
              lastModified={post.data.lastModified}
            />
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
